.leftBar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15vw;
    background-color: #fcefde;// please change
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.ptjLogo {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    padding-top: 1rem;
    padding-left: 1rem;
}

.leftBarContent {
    width:100%;
    height:65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profileDetails {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileImageDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;
        height: 80%;
        border: 1px solid white;
        border-radius: 10px;
    }
}

// .notifications {
//     width: 2.5rem;
//     height: 2.5rem;
//     border-radius: 50%;
//     background-color: #ff0000;
//     color: white;

//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     top: -15px;
//     left: 105px;
    
//     font-size: 20px;
// }

.userName {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 40px;
}

.userNickname {
    margin-bottom: 0.5rem;
    font-size: 30px;
    font-weight: 200;
    opacity: 0.8;
}

.userContext {
    font-size: 15px;
    line-height: 1.5;
}

.userEmail {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: 20px;
    opacity: 0.6;
}

.userInfoDetails {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;

    li {
        margin-bottom: 1rem;
        font-size: 13px;
        display:flex;
        flex-direction: row;
        align-items: flex-start;

        b {
            font-weight: 500;
        }
    }
}

.sectionLink{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.sectionIcon{
    margin-right: 3%;
}

.sidebarNav {
    margin-top: -8rem;
    margin-bottom: 3rem;
}

.sidebarNavItem {
    margin: 2rem 0;
}

.sidebarNavLink_nonhover {
    font-size:20px;
    font-weight: 500;
}

.sidebarNavLink:hover {
    font-size: 30px;
    font-weight: 600;

    // @extend .sidebarNavLink_nonhover;
}

.sidebarNavLink {
    text-decoration: none;
    outline: none;
    color: black;
    opacity: 0.5;
    font-size: 25px;
    font-weight: 500;
    transition: ease-in-out 0.2s;

    &Active {
        @extend .sidebarNavLink;
        opacity: 1;
    }
}