.dashBoard {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    width: 85vw;
    background-color: #fcefde;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dashBoardMain{
    background-color: white;
    width:95%;
    height: 95%;
    border-radius:30px;

    display: flex;
    box-shadow: 5px 5px rgba(0,0,0,.2);
}

.dashBoardCenterArea{
    width: 80%;
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    // overflow-y: scroll;
}

.backArrowBtn{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3rem;
    left: 5rem;
    z-index:100;
}
// -----------------------
/* Head Area */
// -----------------------
.headerArea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 13%;
    padding-top:2%;
    border-bottom: 0.6px solid rgba(128, 79, 0, .5);
}

.headTitleArea {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 1rem;
}

.title {
    font-weight: 600;
    font-size: 3rem;
    margin-right: 1.5rem;
    padding-left: 1rem;
    line-height: normal;
}

.commitIcon {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    opacity: 0.5;
}

.dates {
    position: relative;
    padding-top: 8%;
    opacity:0.5;
    font-size: 1rem;
}

// -----------------------
/* Commit Area */
// -----------------------

.commitArea {
    margin-top: 1%;
    width: 100%;
    height: 82%;
}

.listTitleArea {
    margin-top: 0.5rem;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #dedede;
}

.listArea {
    width: 100%;
    height: 100%;
    padding-top: 1%;
}

.commitList {
    width: 100%;
    height: 10%;
    cursor: pointer;
}

.commitList:hover {
    background-color: lightgray;
}

.commitListItem {
    padding-top:0.5%;
}

.itemHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #dedede;
}
